html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9ebee;
}
.center{
    width: 408px;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.email{
    width: 93%;
    border-radius: 7px;
    height: 50px;
    margin-bottom: 20px;
}

.psw{
    width: 93%;
    border-radius: 7px;
    height: 50px;
    margin-bottom: 20px;
}

.link{
    text-decoration: none;
}
.eye2{
    color: blue;
}
.eye{
    position: relative;
    left: 163px;
    bottom: 51px;
    opacity: 0;
}
.psw_button{
    width: 210px;
    height: 48px;
    padding: 2px;
    background-color: rgb(0, 169, 0);
    font-size: 21px;
    border: none;
    border-radius: 6px;

}
.sgn_button{
    width: 93%;
    border-radius: 7px;
    height: 50px;
}
.logo{
    margin: -40px -44px -67px;
}


















/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo{
        margin: 14px 87px -32px;
    }
    .head_text{
        text-align: center;
        margin-bottom: 30px;
    }
    .rght{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    
}